__pycache__/

#Pic folders
isCatgirlTraining/
CatgirlDB/
fmk/
husbandodb/
shrek/
MessageLogs/
Personalities/

#Backup storage folder
Portable Bot Archive/

#zip picture archives
*.zip

#bat files to run bots
*.bat

#Files containing keys
secrets.txt
Old bots/oldBLANbotKeys.txt
Retired Commands/systools/emailLoginTextFile.txt
PhoneIntroSound.mp3
new_user_credentials.csv

#Botchat conversation database
database.db
